.header {
    font-family: 'DynaPuff', cursive;
    width: fit-content;
    background-image: linear-gradient(to left, indigo, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.5rem;
    text-align: center;

}

body {
    background: rgb(238, 174, 202);
    background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(182, 167, 184, 1) 63%, rgba(158, 186, 230, 1) 89%, rgba(148, 187, 233, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

.categoryPickerLabel {
    font-size: 2rem;
}

.categoryPicker {
    margin: 2rem;
}

button {
    margin-top: 1rem;
    padding: 1rem 2rem;
    border-radius: 10px;
    border: none;
    background-color: blue;
    color: whitesmoke;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);


    &:hover,
    &:active {
        background-color: indigo;
        scale: 1.1;
    }
}

select {
    font-size: 2rem;
}

button {
    font-size: 2rem;
}

.jokebox {
    display: flex;
    padding: 3rem;
    font-size: 2rem;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

.button-box {
    display: flex;
    gap: 20px;
}


body.change {
    background: black;
    background-image: linear-gradient(to left, rgb(29, 0, 49), rgb(0, 0, 152));
    color: whitesmoke;

    .header {
        background-image: linear-gradient(to left, rgb(225, 192, 249), rgb(125, 125, 255));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 3.5rem;
    }

    button {
        background-image: linear-gradient(to left, rgb(225, 192, 249), rgb(125, 125, 255));
        color: black;
        box-shadow: 0px 8px 15px rgba(238, 238, 238, 0.2);

    }

}